<div class="container text-center homescreen">
  <div class="row">
    <div class="col-lg-12">
      <h1>Ahoy, OP</h1>
        <p>"Damn it, OP."</p>

      <div class="field homescreen-buttons">
        <ul><%= button_to "Sign up", new_user_registration_path %></ul>
        <ul><%= button_to "Login", new_user_session_path %></ul>
      </div>

    </div>
  </div>
</div>

