<div id="wrapper">

  <%= render :partial => 'welcome/sidebar'%>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <button href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
          <h1>Teleporation</h1>
          <p>Choose a button to alert your operator.</p>


            <div class="teleport-buttons">
              <ul>
                <%= button_to "Silent Hill", :action => "silentHill", :class => "btn btn-default full-width-button" %>
              </ul>

              <ul>
                <%= button_to "Loud Hill", :action => "loudHill", :class => "btn btn-default full-width-button" %>
              </ul>

              <h1>Sleep</h1>
              <p>Go to sleep msg to everyone in your server. (Experimental)</p>


              <ul>
                <%= button_to "Go to Sleep!", :action => "gotosleep", :class => "btn btn-default full-width-button" %>
              </ul>
            </div>


        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>


