<h1>Towns#teleport</h1>
<p>Find me in app/views/towns/teleport.html.erb</p>

<div>
	<li class="btn btn-default span9 btn-block">
		<%= link_to "Silent Hill", :action => "silentHill", :controller => "towns" %>
	</li>
	<li class="btn btn-default span9 btn-block">
	<%= link_to "Loud Hill", :action => "loudHill", :controller => "towns" %>
	</li>
</div>
